# Python- Pandas Library

3 Datastructures 

   1) Series :- 1D labeled homogeneous array, sizeimmutable.
   
   2) DataFrame :- General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed columns.
   
   3) Panel :- General 3D labeled, size-mutable array.

In [13]:
pip install pandas --upgrade

Collecting pandas
  Downloading pandas-1.0.3-cp37-cp37m-macosx_10_9_x86_64.whl (10.0 MB)
     |████████████████████████████████| 10.0 MB 1.1 MB/s eta 0:00:01    |██████████████████▎             | 5.7 MB 1.1 MB/s eta 0:00:04
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in /usr/local/lib/python3.7/site-packages (from pandas) (1.17.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied, skipping upgrade: six>=1.5 in /Users/ps/Library/Python/3.7/lib/python/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 0.25.3
    Uninstalling pandas-0.25.3:
      Successfully uninstalled pandas-0.25.3
Successfully installed pandas-1.0.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
# import pandas as pd
import numpy as np
import pandas as pd

# Pandas Series

In [19]:
s = pd.Series()
s

Series([], dtype: float64)

In [20]:
data = np.array(['a','b','c','d'])
print(data,"\n")
s = pd.Series(data)
s

['a' 'b' 'c' 'd']

0    a
1    b
2    c
3    d
dtype: object

In [21]:
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
s

100    a
101    b
102    c
103    d
dtype: object

In [23]:
# Series from a dictionary
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
s['c']

2.0

In [24]:
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data,index=['b','c','d','a'])
s

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [28]:
s = pd.Series(5, index=[0, 1, 2, 3,4]) 
s

0    5
1    5
2    5
3    5
4    5
dtype: int64

In [30]:
#Accessing Data from Series with Position
s = pd.Series([0,1,2,3,4,5],index = [5,99,34,55,64,75])
print(s,"\n")
s[75] ##retrieve the first element

5     0
99    1
34    2
55    3
64    4
75    5
dtype: int64

5

In [32]:
#retrieve the first three elements
s[:3]

5     0
99    1
34    2
dtype: int64

In [33]:
#retrieve the last three element
s[-3:]

55    3
64    4
75    5
dtype: int64

In [35]:
s = pd.Series(['a','b','c','d'])

In [40]:
#retrieve a single element
s[0]

'a'

In [42]:
#retrieve multiple elements
s[[0,1,2]]

0    a
1    b
2    c
dtype: object

In [43]:
# retrieve unknown element
s['f']

KeyError: 'f'

# Dataframe

In [45]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [2]:
# Create a DataFrame from Lists
data = [1,2,3,4,5]
df = pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5

In [5]:
data = [['Alex',10],
        ['Bob',12],
        ['Clarke',13]]

df = pd.DataFrame(data,columns=['Name','Age'])
df

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [6]:
# definig datatype
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
df

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [7]:
# Create a DataFrame from Dict of ndarrays / Lists
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
df

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [8]:
# Assigning index
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
df

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [9]:
# Create a DataFrame from List of Dicts
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
df

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [11]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
df

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [14]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print(df1,"\n")

print(df2)

        a   b
first   1   2
second  5  10

        a  b1
first   1 NaN
second  5 NaN

In [15]:
# Create a DataFrame from Dict of Series

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [17]:
# Column selection
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
#print (df ['one'])
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [22]:
# Column Addition
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

# Adding a new column to an existing DataFrame object with column label by passing new series

print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df,"\n")

print ("Adding a new column using the existing columns in DataFrame:")
df['four']=pd.Series([4,6,7],index=['a','b','c'])
print(df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0   4.0
b  2.0    2   20.0   6.0
c  3.0    3   30.0   7.0
d  NaN    4    NaN   NaN

In [23]:
# Column deletion
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
   'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print(df,"\n")

# using del function
print ("Deleting the first column using DEL function:")
del df['one']


print(df,"\n")

# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print(df)

Our dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

Deleting the first column using DEL function:
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN

Deleting another column using POP function:
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [24]:
#Row Selection, Addition, and Deletion
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [26]:
#Selection by Label
df.loc['b']

one    2.0
two    2.0
Name: b, dtype: float64

In [27]:
# Selection by integer location
df.iloc[2]

one    3.0
two    3.0
Name: c, dtype: float64

In [28]:
#Slice Rows
df[2:4]

   one  two
c  3.0    3
d  NaN    4

In [32]:
# Addition of Rows
df = df.append(df2, sort=True)
df

   a  b
1  3  4
1  7  8
0  5  6
1  7  8

In [33]:
#Deletion of Rows
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
print(df,"\n")
# Drop rows with label 0
df = df.drop(0)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

   a  b
1  3  4
1  7  8

# Panel implemntation by Dataframe

In [35]:
import numpy as np

data = np.random.rand(2,4,5)
p = pd.Panel(data)
p

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  after removing the cwd from sys.path.

TypeError: Panel() takes no arguments

In [37]:
data = np.random.randint(1, 10, (5, 3, 2))
pnl = pd.Panel(
    data, 
    items=['item {}'.format(i) for i in range(1, 6)], 
    major_axis=[2015, 2016, 2017], 
    minor_axis=['US', 'UK']
)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version

TypeError: Panel() takes no arguments

In [38]:
data = data.reshape(5,6).T
print (data)
df = pd.DataFrame(
    data=data,
    index=pd.MultiIndex.from_product([[2015, 2016, 2017], ['US', 'UK']]),
    columns=['item {}'.format(i) for i in range(1, 6)]
)
df

[[6 6 6 5 3]
 [2 6 4 6 4]
 [4 2 4 9 8]
 [4 1 7 7 9]
 [8 8 6 5 3]
 [6 6 2 3 4]]

         item 1  item 2  item 3  item 4  item 5
2015 US       6       6       6       5       3
     UK       2       6       4       6       4
2016 US       4       2       4       9       8
     UK       4       1       7       7       9
2017 US       8       8       6       5       3
     UK       6       6       2       3       4

Dataset: Motor Trend Car Road Tests 32 observations on 11 (numeric) variables. The data was extracted from the 1974 Motor Trend US magazine, and comprises fuel consumption and 10 aspects of automobile design and performance for 32 automobiles (1973--74 models).

# Dataset Import

Here we are going to import our dataset.

In [39]:
#raed dataset and store into a dataframe
cars = pd.read_csv("cars.csv")
cars

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [67]:
#to be removed before recording---to convert the mpg column to str--
cars.mpg = cars.mpg.astype(str)

In [41]:
cars

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

# Analysis

After importing the dataset we are all set to perform different analysis.

In [43]:
#check the type
type(cars)

pandas.core.frame.DataFrame

In [44]:
#view only the first five records
cars.head()

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [45]:
#view only the first ten records
cars.head(10)

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [46]:
#view only the last five records
cars.tail()

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

In [47]:
#view only the last ten records
cars.tail(10)

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [50]:
cars.sample(n=2)

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.32,18.61,1,1,4,1
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.78,18.60,1,1,4,2

In [51]:
#view number of rows and columns in the dataframe
cars.shape

(32, 13)

In [52]:
#print a concise summary of the columns
cars.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   S.No        32 non-null     int64
 1   Unnamed: 1  32 non-null     object
 2   mpg         32 non-null     object
 3   cyl         32 non-null     int64
 4   disp        32 non-null     float64
 5   hp          32 non-null     int64
 6   drat        32 non-null     float64
 7   wt          32 non-null     float64
 8   qsec        29 non-null     float64
 9   vs          32 non-null     int64
 10  am          32 non-null     int64
 11  gear        32 non-null     int64
 12  carb        32 non-null     int64
dtypes: float64(4), int64(7), object(2)
memory usage: 3.4+ KB

In [53]:
#mean
cars.mean()

S.No     16.500000
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.674828
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [54]:
#median
cars.median()

S.No     16.500
mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.420
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

In [57]:
#standard deviation
cars.std()

S.No      9.380832
cyl       1.785922
disp    123.938694
hp       68.562868
drat      0.534679
wt        0.978457
qsec      1.780394
vs        0.504016
am        0.498991
gear      0.737804
carb      1.615200
dtype: float64

In [56]:
#maximum of each attribute
cars.max()

S.No                  32
Unnamed: 1    Volvo 142E
mpg                 33.9
cyl                    8
disp                 472
hp                   335
drat                4.93
wt                 5.424
qsec                22.9
vs                     1
am                     1
gear                   5
carb                   8
dtype: object

In [58]:
#minimum of each attribute
cars.min()

S.No                    1
Unnamed: 1    AMC Javelin
mpg                  10.4
cyl                     4
disp                 71.1
hp                     52
drat                 2.76
wt                  1.513
qsec                 14.5
vs                      0
am                      0
gear                    3
carb                    1
dtype: object

In [59]:
#number of non-null records in each column
cars.count()

S.No          32
Unnamed: 1    32
mpg           32
cyl           32
disp          32
hp            32
drat          32
wt            32
qsec          29
vs            32
am            32
gear          32
carb          32
dtype: int64

In [60]:
#descriptive statistics summary
cars.describe()

,S.No,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,29.000000,32.000000,32.000000,32.000000,32.0000
mean,16.500000,6.187500,230.721875,146.687500,3.596563,3.217250,17.674828,0.437500,0.406250,3.687500,2.8125
std,9.380832,1.785922,123.938694,68.562868,0.534679,0.978457,1.780394,0.504016,0.498991,0.737804,1.6152
min,1.000000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,8.750000,4.000000,120.825000,96.500000,3.080000,2.581250,16.870000,0.000000,0.000000,3.000000,2.0000
50%,16.500000,6.000000,196.300000,123.000000,3.695000,3.325000,17.420000,0.000000,0.000000,4.000000,2.0000
75%,24.250000,8.000000,326.000000,180.000000,3.920000,3.610000,18.600000,1.000000,1.000000,4.000000,4.0000
max,32.000000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

# Cleaning

After analysing we have realized that our dataset is not perfect, some column names are irrelevant, there are a few missing data, some column has important data but cant perform some operation because they are of string type. So now with the help of Pandas we will be cleaning or in other words we will be making our data perfect to perform further operations.

In [61]:
cars.head(2)

,S.No,Unnamed: 1,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.9,2.875,17.02,0,1,4,4

In [62]:
#rename column
cars=cars.rename(columns={'Unnamed: 1':'model'})
cars

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,NaN,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,NaN,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,NaN,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [63]:
#Fill the null values with mean of the column
cars['qsec']=cars.qsec.fillna(cars.qsec.mean())
cars

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.460000,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.020000,0,1,4,4
2,3,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.610000,1,1,4,1
3,4,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.440000,1,0,3,1
4,5,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.020000,0,0,3,2
5,6,Valiant,18.1,6,225.0,105,2.76,3.460,17.674828,1,0,3,1
6,7,Duster 360,14.3,8,360.0,245,3.21,3.570,15.840000,0,0,3,4
7,8,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.000000,1,0,4,2
8,9,Merc 230,22.8,4,140.8,95,3.92,3.150,22.900000,1,0,4,2
9,10,Merc 280,19.2,6,167.6,123,3.92,3.440,18.300000,1,0,4,4
10,11,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.900000,1,0,4,4
11,12,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.400000,0,0,3,3
12,13,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.600000,0,0,3,3
13,14,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.000000,0,0,3,3
14,15,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.980000,0,0,3,4
15,16,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.820000,0,0,3,4
16,17,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.420000,0,0,3,4
17,18,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.674828,1,1,4,1
18,19,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.520000,1,1,4,2
19,20,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.900000,1,1,4,1
20,21,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.010000,1,0,3,1
21,22,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.870000,0,0,3,2
22,23,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.300000,0,0,3,2
23,24,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.410000,0,0,3,4
24,25,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.050000,0,0,3,2
25,26,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.674828,1,1,4,1
26,27,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.700000,0,1,5,2
27,28,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.900000,1,1,5,2
28,29,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.500000,0,1,5,4
29,30,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.500000,0,1,5,6
30,31,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.600000,0,1,5,8
31,32,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.600000,1,1,4,2

In [64]:
#cars = pd.read_csv("cars.csv")
cars.head(2)

,S.No,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,1,Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4
1,2,Mazda RX4 Wag,21.0,6,160.0,110,3.9,2.875,17.02,0,1,4,4

In [65]:
#drop unwanted column
cars = cars.drop(columns=['S.No'])
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.460000,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.020000,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.610000,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.440000,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.020000,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,17.674828,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.840000,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.000000,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.900000,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.300000,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.900000,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.400000,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.600000,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.000000,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.980000,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.820000,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.420000,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.674828,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.520000,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.900000,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.010000,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.870000,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.300000,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.410000,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.050000,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.674828,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.700000,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.900000,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.500000,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.500000,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.600000,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.600000,1,1,4,2

In [66]:
#find correlation matrix
df=cars[['mpg','cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb']].corr()
df
#you can see mpg is of string type so we can't perform correlation.

,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
cyl,1.000000,0.902033,0.832447,-0.699938,0.782496,-0.548775,-0.810812,-0.522607,-0.492687,0.526988
disp,0.902033,1.000000,0.790949,-0.710214,0.887980,-0.385207,-0.710416,-0.591227,-0.555569,0.394977
hp,0.832447,0.790949,1.000000,-0.448759,0.658748,-0.650674,-0.723097,-0.243204,-0.125704,0.749812
drat,-0.699938,-0.710214,-0.448759,1.000000,-0.712441,0.120175,0.440278,0.712711,0.699610,-0.090790
wt,0.782496,0.887980,0.658748,-0.712441,1.000000,-0.130362,-0.554916,-0.692495,-0.583287,0.427606
qsec,-0.548775,-0.385207,-0.650674,0.120175,-0.130362,1.000000,0.667873,-0.271763,-0.203784,-0.573987
vs,-0.810812,-0.710416,-0.723097,0.440278,-0.554916,0.667873,1.000000,0.168345,0.206023,-0.569607
am,-0.522607,-0.591227,-0.243204,0.712711,-0.692495,-0.271763,0.168345,1.000000,0.794059,0.057534
gear,-0.492687,-0.555569,-0.125704,0.699610,-0.583287,-0.203784,0.206023,0.794059,1.000000,0.274073
carb,0.526988,0.394977,0.749812,-0.090790,0.427606,-0.573987,-0.569607,0.057534,0.274073,1.000000

In [69]:
#So change mpg from string to float to perform correlation
cars.mpg = cars.mpg.astype(float)
#see the change
cars.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [70]:
#Again find the correlation including mpg
df=cars[['mpg', 'cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb']].corr()
df

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
mpg,1.000000,-0.852162,-0.847551,-0.776168,0.681172,-0.867659,0.360351,0.664039,0.599832,0.480285,-0.550925
cyl,-0.852162,1.000000,0.902033,0.832447,-0.699938,0.782496,-0.548775,-0.810812,-0.522607,-0.492687,0.526988
disp,-0.847551,0.902033,1.000000,0.790949,-0.710214,0.887980,-0.385207,-0.710416,-0.591227,-0.555569,0.394977
hp,-0.776168,0.832447,0.790949,1.000000,-0.448759,0.658748,-0.650674,-0.723097,-0.243204,-0.125704,0.749812
drat,0.681172,-0.699938,-0.710214,-0.448759,1.000000,-0.712441,0.120175,0.440278,0.712711,0.699610,-0.090790
wt,-0.867659,0.782496,0.887980,0.658748,-0.712441,1.000000,-0.130362,-0.554916,-0.692495,-0.583287,0.427606
qsec,0.360351,-0.548775,-0.385207,-0.650674,0.120175,-0.130362,1.000000,0.667873,-0.271763,-0.203784,-0.573987
vs,0.664039,-0.810812,-0.710416,-0.723097,0.440278,-0.554916,0.667873,1.000000,0.168345,0.206023,-0.569607
am,0.599832,-0.522607,-0.591227,-0.243204,0.712711,-0.692495,-0.271763,0.168345,1.000000,0.794059,0.057534
gear,0.480285,-0.492687,-0.555569,-0.125704,0.699610,-0.583287,-0.203784,0.206023,0.794059,1.000000,0.274073
carb,-0.550925,0.526988,0.394977,0.749812,-0.090790,0.427606,-0.573987,-0.569607,0.057534,0.274073,1.000000

Now from the correlation we can see lowest correlation is between "am" and "carb". So when we will taking "carb" as reference for any analysis we can drop "am", since it will not add any change or value to the analysis. In the same way we can drop "carb" column while taking "am" as reference for any analysis.

# Manipluation

Sometimes we don't need the whole dataset for analysis and cut them in small chunks, sometimes we need to arrange them in an certain order(ascending or descending), sometimes we may need to set a certain value to a column or apply a function to a column, sometimes we may also need to apply filters to our dataset---all of these comes under Pandas Data Manipulation.

In [ ]:
cars.head(2)

# Indexing by position

In [71]:
#view hp column only
cars.iloc[:,:]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.460000,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.020000,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.610000,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.440000,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.020000,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,17.674828,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.840000,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.000000,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.900000,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.300000,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.900000,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.400000,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.600000,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.000000,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.980000,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.820000,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.420000,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.674828,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.520000,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.900000,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.010000,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.870000,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.300000,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.410000,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.050000,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.674828,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.700000,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.900000,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.500000,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.500000,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.600000,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.600000,1,1,4,2

In [75]:
#first five records of hp column
cars.iloc[0:5,:4]

               model   mpg  cyl   disp
0          Mazda RX4  21.0    6  160.0
1      Mazda RX4 Wag  21.0    6  160.0
2         Datsun 710  22.8    4  108.0
3     Hornet 4 Drive  21.4    6  258.0
4  Hornet Sportabout  18.7    8  360.0

In [ ]:
#all rows, all columns
cars.iloc[:,:]

In [76]:
#for attributes from hp to carb see all the records from index 6
cars.iloc[6:,4:]

     hp  drat     wt       qsec  vs  am  gear  carb
6   245  3.21  3.570  15.840000   0   0     3     4
7    62  3.69  3.190  20.000000   1   0     4     2
8    95  3.92  3.150  22.900000   1   0     4     2
9   123  3.92  3.440  18.300000   1   0     4     4
10  123  3.92  3.440  18.900000   1   0     4     4
11  180  3.07  4.070  17.400000   0   0     3     3
12  180  3.07  3.730  17.600000   0   0     3     3
13  180  3.07  3.780  18.000000   0   0     3     3
14  205  2.93  5.250  17.980000   0   0     3     4
15  215  3.00  5.424  17.820000   0   0     3     4
16  230  3.23  5.345  17.420000   0   0     3     4
17   66  4.08  2.200  17.674828   1   1     4     1
18   52  4.93  1.615  18.520000   1   1     4     2
19   65  4.22  1.835  19.900000   1   1     4     1
20   97  3.70  2.465  20.010000   1   0     3     1
21  150  2.76  3.520  16.870000   0   0     3     2
22  150  3.15  3.435  17.300000   0   0     3     2
23  245  3.73  3.840  15.410000   0   0     3     4
24  175  3.08  3.845  17.050000   0   0     3     2
25   66  4.08  1.935  17.674828   1   1     4     1
26   91  4.43  2.140  16.700000   0   1     5     2
27  113  3.77  1.513  16.900000   1   1     5     2
28  264  4.22  3.170  14.500000   0   1     5     4
29  175  3.62  2.770  15.500000   0   1     5     6
30  335  3.54  3.570  14.600000   0   1     5     8
31  109  4.11  2.780  18.600000   1   1     4     2

In [77]:
#Now we want to look at all the rows and only the first column
cars.iloc[:,:]

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.460000,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.020000,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.610000,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.440000,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.020000,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,17.674828,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.840000,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.000000,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.900000,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.300000,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.900000,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.400000,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.600000,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.000000,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.980000,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.820000,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.420000,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.674828,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.520000,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.900000,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.010000,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.870000,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.300000,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.410000,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.050000,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.674828,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.700000,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.900000,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.500000,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.500000,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.600000,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.600000,1,1,4,2

# indexing by label

In [78]:
#see all the record of mpg column
cars.loc[:,"mpg"]

0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
7     24.4
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
17    32.4
18    30.4
19    33.9
20    21.5
21    15.5
22    15.2
23    13.3
24    19.2
25    27.3
26    26.0
27    30.4
28    15.8
29    19.7
30    15.0
31    21.4
Name: mpg, dtype: float64

In [79]:
#display the records from index 0 to index 6 from mpg column
cars.loc[:6,"mpg"]

0    21.0
1    21.0
2    22.8
3    21.4
4    18.7
5    18.1
6    14.3
Name: mpg, dtype: float64

In [ ]:
#see the first 7 records from mpg to qsec column
cars.loc[:6,"mpg":"qsec"]

In [80]:
#set value 1 to column 'am'
cars['am'] = 1
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.460000,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.020000,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.610000,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.440000,1,1,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.020000,0,1,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,17.674828,1,1,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.840000,0,1,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.000000,1,1,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.900000,1,1,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.300000,1,1,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.900000,1,1,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.400000,0,1,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.600000,0,1,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.000000,0,1,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.980000,0,1,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.820000,0,1,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.420000,0,1,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.674828,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.520000,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.900000,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.010000,1,1,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.870000,0,1,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.300000,0,1,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.410000,0,1,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.050000,0,1,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.674828,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.700000,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.900000,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.500000,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.500000,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.600000,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.600000,1,1,4,2

In [81]:
#double up records in 'am' using lambda fxn
f = lambda x: x*2
cars['am']= cars['am'].apply(f)
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.460000,0,2,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.020000,0,2,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.610000,1,2,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.440000,1,2,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.020000,0,2,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,17.674828,1,2,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.840000,0,2,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.000000,1,2,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.900000,1,2,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.300000,1,2,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.900000,1,2,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.400000,0,2,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.600000,0,2,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.000000,0,2,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.980000,0,2,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.820000,0,2,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.420000,0,2,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.674828,1,2,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.520000,1,2,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.900000,1,2,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.010000,1,2,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.870000,0,2,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.300000,0,2,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.410000,0,2,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.050000,0,2,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.674828,1,2,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.700000,0,2,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.900000,1,2,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.500000,0,2,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.500000,0,2,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.600000,0,2,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.600000,1,2,4,2

In [84]:
cars

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.460000,0,2,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.020000,0,2,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.610000,1,2,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.440000,1,2,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.020000,0,2,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,17.674828,1,2,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.840000,0,2,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.000000,1,2,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.900000,1,2,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.300000,1,2,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.900000,1,2,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.400000,0,2,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.600000,0,2,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.000000,0,2,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.980000,0,2,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.820000,0,2,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.420000,0,2,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.674828,1,2,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.520000,1,2,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.900000,1,2,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.010000,1,2,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.870000,0,2,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.300000,0,2,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.410000,0,2,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.050000,0,2,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.674828,1,2,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.700000,0,2,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.900000,1,2,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.500000,0,2,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.500000,0,2,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.600000,0,2,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.600000,1,2,4,2

In [85]:
cars['new'] = 0

In [86]:
cars.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,new
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,2,4,4,0
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,2,4,4,0
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,2,4,1,0
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,2,3,1,0
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,2,3,2,0

# Sorting

In [87]:
#sorting cyl column ascending order
cars.sort_values(by='cyl')

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,new
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.600000,1,2,4,2,0
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.610000,1,2,4,1,0
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.900000,1,2,5,2,0
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.700000,0,2,5,2,0
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.674828,1,2,4,1,0
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.010000,1,2,3,1,0
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.000000,1,2,4,2,0
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.900000,1,2,4,2,0
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.900000,1,2,4,1,0
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.520000,1,2,4,2,0
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.674828,1,2,4,1,0
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.500000,0,2,5,6,0
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.460000,0,2,4,4,0
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.020000,0,2,4,4,0
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.440000,1,2,3,1,0
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.900000,1,2,4,4,0
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.300000,1,2,4,4,0
5,Valiant,18.1,6,225.0,105,2.76,3.460,17.674828,1,2,3,1,0
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.000000,0,2,3,3,0
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.500000,0,2,5,4,0
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.020000,0,2,3,2,0
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.050000,0,2,3,2,0
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.410000,0,2,3,4,0
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.300000,0,2,3,2,0
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.870000,0,2,3,2,0
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.840000,0,2,3,4,0
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.400000,0,2,3,3,0
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.420000,0,2,3,4,0
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.600000,0,2,5,8,0
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.980000,0,2,3,4,0
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.600000,0,2,3,3,0
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.820000,0,2,3,4,0

In [88]:
#sort cyl in descending order
cars.sort_values(by='cyl', ascending=False)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,new
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.420000,0,2,3,4,0
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.600000,0,2,5,8,0
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.020000,0,2,3,2,0
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.500000,0,2,5,4,0
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.840000,0,2,3,4,0
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.050000,0,2,3,2,0
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.410000,0,2,3,4,0
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.300000,0,2,3,2,0
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.870000,0,2,3,2,0
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.400000,0,2,3,3,0
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.600000,0,2,3,3,0
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.000000,0,2,3,3,0
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.980000,0,2,3,4,0
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.820000,0,2,3,4,0
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.020000,0,2,4,4,0
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.500000,0,2,5,6,0
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.460000,0,2,4,4,0
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.900000,1,2,4,4,0
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.300000,1,2,4,4,0
5,Valiant,18.1,6,225.0,105,2.76,3.460,17.674828,1,2,3,1,0
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.440000,1,2,3,1,0
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,17.674828,1,2,4,1,0
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.520000,1,2,4,2,0
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.900000,1,2,4,1,0
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.010000,1,2,3,1,0
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.900000,1,2,4,2,0
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.000000,1,2,4,2,0
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,17.674828,1,2,4,1,0
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.700000,0,2,5,2,0
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.900000,1,2,5,2,0
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.610000,1,2,4,1,0
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.600000,1,2,4,2,0

# Filtering

In [89]:
#filter records with more than 6 cylinders
cars['cyl'] > 6

0     False
1     False
2     False
3     False
4      True
5     False
6      True
7     False
8     False
9     False
10    False
11     True
12     True
13     True
14     True
15     True
16     True
17    False
18    False
19    False
20    False
21     True
22     True
23     True
24     True
25    False
26    False
27    False
28     True
29    False
30     True
31    False
Name: cyl, dtype: bool

In [91]:
#filter records with more than 6 cylinders
filter1 = cars['cyl'] > 6 
#apply filter to dataframe
filtered_new = cars[filter1]
#view filtered dataframe
filtered_new

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,new
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,2,3,2,0
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,2,3,4,0
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,2,3,3,0
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,2,3,3,0
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,2,3,3,0
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,2,3,4,0
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,2,3,4,0
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,2,3,4,0
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,2,3,2,0
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,2,3,2,0
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,2,3,4,0
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,2,3,2,0
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,2,5,4,0
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,2,5,8,0

In [92]:
#filter records with more than 6 cyl and hp more than 300
filter2 = (cars["cyl"] > 6) & (cars["hp"] > 300)
#apply filter to dataframe
filtered_review = cars[filter2]
#display filtered data
filtered_review

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,new
30,Maserati Bora,15.0,8,301.0,335,3.54,3.57,14.6,0,2,5,8,0

# Data Visualization

In [ ]:
#import matplotlib
import matplotlib.pyplot  as plt
%matplotlib inline
#see how hp varies with each car with line plot
y1 = cars['hp']
x  = range(32)
plt.plot(x,y1)

In [ ]:
#import matplotlib
import matplotlib.pyplot  as plt
%matplotlib inline
#see how hp varies with each car with line plot
y2 = cars['disp']
x  = range(32)
plt.plot(x,y2)

In [ ]:
#import matplotlib
import matplotlib.pyplot  as plt
%matplotlib inline
y1 = cars['hp']
y2 = cars['disp']
#see how both hp and disp varies 
x  = range(32)
plt.plot(x,y1)
plt.plot(x,y2)
plt.legend()

In [ ]:
#import matplotlib
import matplotlib.pyplot  as plt
%matplotlib inline
y1 = cars['hp']
y2 = cars['disp']
x  = range(32)
#area plot of hp and disp 
plt.stackplot(x,y1,colors = 'purple', alpha = 0.7)
plt.stackplot(x,y2,colors = 'black', alpha = 0.5)

In [ ]:
import matplotlib.pyplot  as plt
%matplotlib inline
y1 = cars['hp']
y2 = cars['disp']
x  = range(32)
#plot both line plot and area plot to see the margin
plt.plot(x,y1, linewidth = 2.0, color = 'c')
plt.stackplot(x,y1,colors = 'purple', alpha = 0.7)
plt.plot(x,y2, linewidth = 1.0, color = 'r')
plt.stackplot(x,y2,colors = 'black', alpha = 0.5)

In [ ]:
#import matplotlib
import matplotlib.pyplot  as plt
%matplotlib inline
y = cars['hp']
x  = range(32)
#model to list
x1 = cars['model'].tolist()
#adding figure to adjust figsize
fig = plt.figure(figsize = (30,15))
#see how hp changes with bar plot
plt.bar(x1,y,color="purple", alpha=0.9)

In [ ]:
#import matplotlib
import matplotlib.pyplot  as plt
%matplotlib inline
y = cars['hp']
x  = range(32)
x1 = cars['model'].tolist()
fig = plt.figure(figsize = (17,10))
#to avoid the overlapping issue plot horizontal bar plot
plt.barh(x1,y, color="purple", alpha=0.8)