# Python- Pandas Library

3 Datastructures 

   1) Series :- 1D labeled homogeneous array, sizeimmutable.
   
   2) DataFrame :- General 2D labeled, size-mutable tabular structure with potentially heterogeneously typed columns.
   
   3) Panel :- General 3D labeled, size-mutable array.

In [ ]:
#!pip install pandas

In [ ]:
# import pandas as pd
import pandas as pd

# Pandas Series

In [ ]:
s = pd.Series()
s

In [ ]:
data = np.array(['a','b','c','d'])
s = pd.Series(data)
s

In [ ]:
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
s

In [ ]:
# Series from a dictionary
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data)
s

In [ ]:
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data,index=['b','c','d','a'])
s

In [ ]:
s = pd.Series(5, index=[0, 1, 2, 3]) 
s

In [ ]:
#Accessing Data from Series with Position
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
s[0] ##retrieve the first element

In [ ]:
#retrieve the first three element
s[:3]

In [ ]:
#retrieve the last three element
s[-3:]

In [ ]:
#retrieve a single element
s['a']

In [ ]:
#retrieve multiple elements
s[['a','c','d']]

In [ ]:
# retrieve unknown element
s['f']

# Dataframe

In [ ]:
df = pd.DataFrame()
print(df)

In [ ]:
# Create a DataFrame from Lists
data = [1,2,3,4,5]
df = pd.DataFrame(data)
df

In [ ]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
df

In [ ]:
# definig datatype
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
df

In [ ]:
# Create a DataFrame from Dict of ndarrays / Lists
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
df

In [ ]:
# Assigning index
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
df

In [ ]:
# Create a DataFrame from List of Dicts
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
df

In [ ]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
df

In [ ]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print(df1,"\n")
print(df2)

In [ ]:
# Create a DataFrame from Dict of Series

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
df

In [ ]:
# Column selection
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df ['one'])

In [ ]:
# Column Addition
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

# Adding a new column to an existing DataFrame object with column label by passing new series

print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df,"\n")

print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']
print(df)

In [ ]:
# Column deletion
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
   'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print(df,"\n")

# using del function
print ("Deleting the first column using DEL function:")
del df['one']
print(df,"\n")

# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print(df)

In [ ]:
#Row Selection, Addition, and Deletion
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)

In [ ]:
#Selection by Label
df.loc['b']

In [ ]:
# Selection by integer location
df.iloc[2]

In [ ]:
#Slice Rows
df[2:4]

In [ ]:
# Addition of Rows
df = df.append(df2)
df

In [ ]:
#Deletion of Rows
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
print(df,"\n")
# Drop rows with label 0
df = df.drop(0)
print(df)

# Panel implemntation by Dataframe

In [ ]:
data = data.reshape(5, 6).T
df = pd.DataFrame(
    data=data,
    index=pd.MultiIndex.from_product([[2015, 2016, 2017], ['US', 'UK']]),
    columns=['item {}'.format(i) for i in range(1, 6)]
)
df

Dataset: Motor Trend Car Road Tests 32 observations on 11 (numeric) variables. The data was extracted from the 1974 Motor Trend US magazine, and comprises fuel consumption and 10 aspects of automobile design and performance for 32 automobiles (1973--74 models).

# Dataset Import

Here we are going to import our dataset.

In [ ]:
#import pandas library
import pandas as pd
#raed dataset and store into a dataframe
cars=pd.read_csv("cars.csv")
#print
cars

In [ ]:
#to be removed before recording---to convert the mpg column to str--
cars.mpg = cars.mpg.astype(str)

# Analysis

After importing the dataset we are all set to perform different analysis.

In [ ]:
#check the type
type(cars)

In [ ]:
#view only the first five records
cars.head()

In [ ]:
#view only the first ten records
cars.head(10)

In [ ]:
#view only the last five records
cars.tail()

In [ ]:
#view only the last ten records
cars.tail(10)

In [ ]:
#view number of rows and columns in the dataframe
cars.shape

In [ ]:
#print a concise summary of the columns
cars.info(null_counts=True)

In [ ]:
#mean
cars.mean()

In [ ]:
#median
cars.median()

In [ ]:
#standard deviation
cars.std()

In [ ]:
#maximum of each attribute
cars.max()

In [ ]:
#minimum of each attribute
cars.min()

In [ ]:
#number of non-null records in each column
cars.count()

In [ ]:
#descriptive statistics summary
cars.describe()

# Cleaning

After analysing we have realized that our dataset is not perfect, some column names are irrelevant, there are a few missing data, some column has important data but cant perform some operation because they are of string type. So now with the help of PAndas we will be cleaning or in other words we will be making our data perfect to perform further operations.

In [ ]:
#rename column
cars=cars.rename(columns={'Unnamed: 1':'model'})
cars

In [ ]:
#Fill the null values with mean of the column
cars.qsec=cars.qsec.fillna(cars.qsec.mean())
cars

In [ ]:
#drop unwanted column
cars = cars.drop(columns=['S.No'])
cars

In [ ]:
#find correlation matrix
df=cars[['mpg','cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb']].corr()
df
#you can see mpg is of string type so we can't perform correlation.

In [ ]:
#So change mpg from string to float to perform correlation
cars.mpg = cars.mpg.astype(float)
#see the change
cars.info(null_counts=True)

In [ ]:
#Again find the correlation including mpg
df=cars[['mpg', 'cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb']].corr()
df

Now from the correlation we can see lowest correlation is between "am" and "carb". So when we will taking "carb" as reference for any analysis we can drop "am", since it will not add any change or value to the analysis. In the same way we can drop "carb" column while taking "am" as reference for any analysis.

# Manipluation

Sometimes we don't need the whole dataset for analysis and cut them in small chunks, sometimes we need to arrange them in an certain order(ascending or descending), sometimes we may need to set a certain value to a column or apply a function to a column, sometmes we may also need to apply filters to our dataset---all of these comes under Pandas Data Manipulation.

# Indexing by position

In [ ]:
#view hp column only
cars.iloc[:,4]

In [ ]:
#first five records of hp column
cars.iloc[0:5,4]

In [ ]:
#all rows, all columns
cars.iloc[:,:]

In [ ]:
#for attributes from hp to carb see all the records from index 6
cars.iloc[6:,4:]

In [ ]:
#Now we want to look at all the rows and only the first column
cars.iloc[:,1]

# indexing by label

In [ ]:
#see all the record of mpg column
cars.loc[:,"mpg"]

In [ ]:
#display the records from index 0 to index 6 from mpg column
cars.loc[:6,"mpg"]

In [ ]:
#see the first 7 records from mpg to qsec column
cars.loc[:6,"mpg":"qsec"]

In [ ]:
#set value 1 to column 'am'
cars['am'] = 1
cars

In [ ]:
#double up records in 'am' using lambda fxn
f = lambda x: x*2
cars['am']= cars['am'].apply(f)
cars

# Sorting

In [ ]:
#sorting cyl column ascending order
cars.sort_values(by='cyl')

In [ ]:
#sort cyl in descending order
cars.sort_values(by='cyl', ascending=False)

# Filtering

In [ ]:
#filter records with more than 6 cylinders
cars['cyl'] > 6

In [ ]:
#filter records with more than 6 cylinders
filter1 = cars['cyl'] > 6
#apply filter to dataframe
filtered_new = cars[filter1]
#view filtered dataframe
filtered_new

In [ ]:
#filter records with more than 6 cyl and hp more than 300
filter2 = (cars["cyl"] > 6) & (cars["hp"] > 300)
#apply filter to dataframe
filtered_review = cars[filter2]
#display filtered data
filtered_review

# Data Visualization

In [ ]:
#import matplotlib
import matplotlib.pyplot  as plt
%matplotlib inline
#see how hp varies with each car with line plot
y1 = cars['hp']
x  = range(32)
plt.plot(x,y1)

In [ ]:
#import matplotlib
import matplotlib.pyplot  as plt
%matplotlib inline
#see how hp varies with each car with line plot
y2 = cars['disp']
x  = range(32)
plt.plot(x,y2)

In [ ]:
#import matplotlib
import matplotlib.pyplot  as plt
%matplotlib inline
y1 = cars['hp']
y2 = cars['disp']
#see how both hp and disp varies 
x  = range(32)
plt.plot(x,y1)
plt.plot(x,y2)
plt.legend()

In [ ]:
#import matplotlib
import matplotlib.pyplot  as plt
%matplotlib inline
y1 = cars['hp']
y2 = cars['disp']
x  = range(32)
#area plot of hp and disp 
plt.stackplot(x,y1,colors = 'purple', alpha = 0.7)
plt.stackplot(x,y2,colors = 'black', alpha = 0.5)

In [ ]:
import matplotlib.pyplot  as plt
%matplotlib inline
y1 = cars['hp']
y2 = cars['disp']
x  = range(32)
#plot both line plot and area plot to see the margin
plt.plot(x,y1, linewidth = 2.0, color = 'c')
plt.stackplot(x,y1,colors = 'purple', alpha = 0.7)
plt.plot(x,y2, linewidth = 1.0, color = 'r')
plt.stackplot(x,y2,colors = 'black', alpha = 0.5)

In [ ]:
#import matplotlib
import matplotlib.pyplot  as plt
%matplotlib inline
y = cars['hp']
x  = range(32)
#model to list
x1 = cars['model'].tolist()
#adding figure to adjust figsize
fig = plt.figure(figsize = (30,15))
#see how hp changes with bar plot
plt.bar(x1,y,color="purple", alpha=0.9)

In [ ]:
#import matplotlib
import matplotlib.pyplot  as plt
%matplotlib inline
y = cars['hp']
x  = range(32)
x1 = cars['model'].tolist()
fig = plt.figure(figsize = (17,10))
#to avoid the overlapping issue plot horizontal bar plot
plt.barh(x1,y, color="purple", alpha=0.8)